{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>About Us</h2>
      <p>Learn More <span>About Us</span></p>
    </div>

    <div class="row gy-4">
      <div
        class="col-lg-7 position-relative about-img"
        style="background-image: url(/static/assets/img/about.jpg)"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <div class="call-us position-absolute">
          <h4>Book a Table</h4>
          <p>9805801474</p>
        </div>
      </div>
      <div
        class="col-lg-5 d-flex align-items-end"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">Welcome</p>
          <ul>
            <li><i class="bi bi-check2-all"></i> {% lorem 1 w random %}</li>
            <li><i class="bi bi-check2-all"></i> {% lorem 1 b random %}</li>
            <li><i class="bi bi-check2-all"></i> {% lorem 1 b random %}</li>
          </ul>
          <p>{% lorem 1 b random %}</p>

          <div class="position-relative mt-4">
            <img
              src="{% static 'assets/img/about-2.jpg' %}"
              class="img-fluid"
              alt=""
            />
            {% comment %}
            <a
              href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
              class="glightbox play-btn"
            ></a>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
