{% load static %}
<!-- Payment Info Section -->
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img
            src="{% static 'hotel/images/payavail/cc.jpg' %}"
            alt=""
            srcset=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img
            src="{% static 'hotel/images/payavail/upi.jpg' %}"
            alt=""
            srcset=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img
            src="{% static 'hotel/images/payavail/nb.jpg' %}"
            alt=""
            srcset=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-body">
          <img
            src="{% static 'hotel/images/payavail/bj.jpg' %}"
            alt=""
            srcset=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Payment Info Section -->
